<!--
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="'navigation'"
    fixedInViewport="true"
    fixedTopGap="64"
    mode="'over'"
    opened="true"
  >

    <mat-toolbar class="header">
      <span class="title">SIIPAPX CxC</span>
    </mat-toolbar>
    <mat-nav-list class="navigation-list">
      <a
        class="navigation-item"
        mat-list-item
        routerLink="/credito"
        routerLinkActive="active"
      >
        <mat-icon class="material-icons">create</mat-icon>
        <span class="navigation-item-label">Crédito</span>
      </a>
      <mat-divider class="navigation-divider"></mat-divider>
      <a
        class="navigation-item"
        mat-list-item
        routerLink="/contado"
        routerLinkActive="active"
      >
        <mat-icon class="material-icons">how_to_reg</mat-icon>
        <span class="navigation-item-label">Contado</span>
      </a>
      <mat-divider class="navigation-divider"></mat-divider>
      <a
        class="navigation-item"
        mat-list-item
        routerLink="/cheque"
        routerLinkActive="active"
      >
        <mat-icon class="material-icons">add_comment</mat-icon>
        <span class="navigation-item-label">Cheques</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="sidenav-content-toolbar" color="primary">
      <button
        mat-mat-icon-button
        class="menu-button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
      >
        <i class="material-icons">menu</i>
      </button>
      <span class="filler"></span>
      <a mat-button routerLink="/credito" routerLinkActive="router-link-active">
        Crédito
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
-->
<div class="wrapper">
  <papelx-header
    [navigation]="appFacade.navigation$ | async"
    (sidenavToggle)="drawer.toggle()"
    [title]="(appFacade.appInfo$ | async).title"
  ></papelx-header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="false"
      fixedTopGap="56"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode="over"
      opened="false"
    >
      <mat-toolbar>
        SideNav Toolbar
      </mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
