<mat-drawer-container
  class="mat-drawer-container"
  fxLayout="column"
  fxLayoutAlign="center start"
>
  <mat-drawer
    class="mat-drawer"
    [mode]="getMode()"
    [opened]="drawerOpenned && !(isHandset$ | async)"
    #drawer
  >
    <mat-nav-list class="mat-nav-list">
      <mat-list-item
        class="nav-item"
        *ngFor="let link of navigation"
        [routerLink]="link.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [matTooltip]="link.description"
      >
        <mat-icon matListIcon>{{ link.icon || 'description' }}</mat-icon>
        <h3 matLine>{{ link.label }}</h3>
      </mat-list-item>
    </mat-nav-list>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Catálogos</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item *ngFor="let link of catalogos">
          <mat-icon matListIcon>{{ link.icon || 'library_books' }}</mat-icon>
          <a
            matLine
            [routerLink]="['clientes']"
            routerLinkActive="router-link-active"
          >
            {{ link.label }}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-drawer>

  <mat-drawer-content>
    <div fxLayout="column">
      <div class="document-header" fxLayout fxLayoutAlign="start center">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Cartera de Crédito</span>
      </div>
      <div fxFlex>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
