/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.router-link-active {
  background-color: mat-color($accent);
  color: mat-color($accent, default-contrast);
}
mat-nav-list {
  /*
  [mat-list-item].active {
    mat-icon[matListAvatar] {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }
    mat-icon[matListIcon] {
      color: mat-color($accent);
    }
    .mat-list-text {
      color: gold;
    }
  }
  */
  mat-list-item.active {
    * {
      font-weight: bold;
      color: mat-color($accent);
    }
    mat-icon[matListIcon] {
      color: mat-color($accent);
    }
    mat-icon[matListAvatar] {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }
  }
}

.mat-expansion-panel-body {
  padding: 0 !important;
}
